/*USE THIS FOR HEADER & FOOTER. CREATE ANOTHER STYLE FILE FOR BODY ELEMENTS */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-size: 1rem;
}

html,
body {
  height: 100%;
}

body {
  font-family: "Raleway", sans-serif;
  background-color: rgb(236, 236, 236);
  color: #000;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  display: flex;
  flex-direction: column;
  /* overflow: hidden; */
}

.container-fluid {
  padding: 0;
}

a:link {
  text-decoration: none;
  color: rgb(38, 66, 46);
}

a:visited {
  text-decoration: none;
}

a:active,
a:hover {
  text-decoration: none;
  border-bottom: 2px solid rgb(243, 192, 29);
  color: rgb(38, 66, 46);
}

main {
  flex: 1;
  display: flex;
  flex-direction: column;
  height: 100%;
}

/* Styling for class and id selectors starts here */
.row {
  margin-right: 0px;
  margin-left: 0px;
}

.col {
  flex-basis: auto;
}
h2 {
  font-weight: 600;
  font-family: "Fjalla One", sans-serif;
}

h2.page-title {
  margin-bottom: 60px;
  padding: 30px 40px;
  text-transform: uppercase;
  text-align: left !important;
  z-index: 5;
}

h5 {
  padding-bottom: 1rem;
}

.yellow {
  background-color: rgb(243, 192, 29);
}

.divider {
  height: 1px !important;
  overflow: hidden !important;
  background-color: #e0e0e0 !important;
}

.masthead {
  min-height: 5rem;
}

.masthead .navbar {
  min-height: 5rem;
  background-color: rgb(243, 192, 29);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
  transition: top 0.3s; /* Transition effect when sliding up or down */
  display: flex;
}

.navbar .navbar-brand {
  font-size: 20px;
  font-weight: 900;
  position: relative;
  color: rgb(38, 66, 46);
}

.navbar .nav-item {
  display: block;
  width: auto;
  font-weight: 800;
  font-size: 16px;
  order: 1;
}

#hero-page > .container-fluid {
  padding-right: 0;
  padding-left: 0;
  display: flex;
  flex-direction: column;
}

.hero-split {
  position: relative;
  width: 100%;
  height: auto;
}

.hero-split > div {
  padding: 0;
  margin: 0;
}

.hero-content {
  position: relative;
  padding: 5rem 3rem 0rem;
}

.hero-content .about-image {
  border-radius: 50%;
  height: 150px;
  width: auto;
}

.highlight {
  color: rgb(38, 66, 46);
  font-weight: 600;
}

/* Main background image on "About" page */
.hero-image {
  position: relative;
  min-height: 800px;
  width: 100%;
  background: url(../images/leaf-coffee-2.jpg);
  background-position: 45% 0px;
  background-size: cover;
}

.center {
  text-align: center;
}

.divider {
  max-width: 60px;
  border-width: 0.2rem;
  margin: 2rem auto 3rem;
}

/* Styling for the main section of all pages except the "about" page */
.non-hero {
  padding-top: 5rem;
}

.page-section {
  display: flex;
  flex-direction: column;
  flex: 1;
  justify-content: center;
  height: 100%;
  width: 100%;
  padding-bottom: 5rem;
}

.page-section.about {
  padding-bottom: 0 !important;
}

.portfolio-item {
  padding: 1.5rem;
  box-shadow: (0, 0, 0, 0.5);
  background-color: rgb(254, 255, 254);
  opacity: 0.95;
  height: 350px;
  margin-bottom: 2rem;
  border-radius: 0.2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  transition: transform ease 0.3s;
}

.portfolio-item:hover {
  transform: scale(1.1);
}

.portfolio-item img {
  border-radius: 0.2rem;
}

.project-links {
  display: flex;
  justify-content: space-evenly;
}

.contact-links a {
  margin: 5px;
}

.contact-links .icon {
  font-size: 1.5rem !important;
  align-items: center;
  color: rgb(38, 66, 46);
}

.contact .icon {
  color: rgb(243, 192, 29);
  padding: 15px;
  background-color: rgb(72, 93, 60);
  border-radius: 50%;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
  margin: 0.5rem;
  line-height: 20px;
}

.contact .icon:hover {
  background-color: rgb(38, 66, 46);
}

a.icon-link:hover {
  border: 0;
}

.contact-text {
  padding: 0.5rem;
  position: relative !important;
  text-decoration: none;
  color: rgb(72, 93, 60);
}

.footer {
  padding: 2rem;
  height: 80px;
  background-color: rgb(72, 93, 60);
  color: rgb(243, 192, 29);
  z-index: 5;
  margin-top: auto;
}

.footer a {
  color: rgb(243, 192, 29);
}
